<div class="page-container container-fluid">
   
	<div class="progress">
		<div class="bar" style="width: 0%;" data-percentage="80">
			<div>
				80%
			</div>
		</div>
	</div>

	<div class="timer-container row-fluid">
		<div class="span2"></div>
		<div class="span8">
			<div class="timer">
				<span class="days"></span> DAYS <span class="hours"></span> HOURS <span class="minutes"></span> MINUTES <span class="seconds"></span> SECONDS
			</div>
			<p>
Code to your Cloud. {Java, Play(Scala), Ruby on Rails, Node.js  with a Multi-tenant data sore, Queue}
Metrics, Monitoring, Realtime logs all in a bundle... 
<br/>
<br/>
Launch includes ability to set up cloud identity and dumping stuff using our Cloud App Connector API.
Built on top of Opscode - Chef using Scala/Akka. 
<br/>
<br/>
Avail it for free when we launch. Enter your email in the text box.
			</p>
		</div>

		<div class="span2"></div>
	</div>


	<div class="social-container row-fluid">
		<div class="span2"></div>
		<div class="tweets span6">
			<div class="show-tweets"></div>
		</div>
		<div class="social-links span2">
			<a class="facebook" href="http://www.facebook.com/megamsys " target="_blank"></a>
			<a class="twitter" href="https://twitter.com/indykish" target="_blank"></a>
			<a class="pinterest" href="https://pinterest.com/megamsys" target="_blank"></a>
			<a class="github" href="https:/github.com/indykish" target="_blank"></a>
			<a class="blogger" href="http://blog.megam.co/" target="_blank"></a>
		</div>
		<div class="span2"></div>
	</div>

	<div class="subscription-form-container row-fluid">
		<h2 id="megam-subscribe">Subscribe</h2>
		<%= render :partial => "home/setup_mail"%>
	</div>
	<!-- Button to trigger modal -->
	<!-- Modal -->
	<div id="postfinish_popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				×
			</button>
			<h3 id="myModalLabel">Successfully registered</h3>
		</div>
		<div class="modal-body">
			<p> Thank you for your interest. We will announce our beta availability shortly.</p>
			<p> If you have a specific business case, please don't hesitate to contact us.</p>
			<p> You will receive a notification, when we launch.</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">
				Ok
			</button>

		</div>
	</div>
</div>

