       
        <div class="page-container container-fluid">

            <h1>Megam Systems - Launching...</h1>

            <div class="progress">
                <div class="bar" style="width: 0%;" data-percentage="52">
                    <div>52%</div>
                </div>
            </div>

            <div class="timer-container row-fluid">
                <div class="span2"></div>
                <div class="span8">
                    <div class="timer">
                        <span class="days"></span> DAYS
                        <span class="hours"></span> HOURS
                        <span class="minutes"></span> MINUTES
                        <span class="seconds"></span> SECONDS
                    </div>
                    <p>What can you get? Consuming cloud identity in minutes. Integration to Cloud Application using our prebuilt connector bed. This can be consumed by anybody who has a Cloud application and will launch very soon with a new set of cool features. Our company stands by opensource and will launch for Free.<br>
                    Enter your email in the form below and we’ll notify you as soon as we’re ready.</p>
                </div>

                <div class="span2"></div>
            </div>
            <div class="social-container row-fluid">
                <div class="span2"></div>
                <div class="tweets span6">
                    <div class="show-tweets"></div>
                </div>
                <div class="social-links span2">
                    <a class="facebook" href="#"></a>
                    <a class="twitter" href="#"></a>
                    <a class="dribbble" href="#"></a>
                    <a class="pinterest" href="#"></a>
                </div>
                <div class="span2"></div>
            </div>

            <div class="subscription-form-container row-fluid">
                <h2>Subscribe</h2>
                <form class="form-inline" action="assets/sendmail.php" method="post">
                    <input type="text" name="email" placeholder="enter your email...">
                    <button type="submit" class="btn"></button>
                </form>
                <div class="success-message"></div>
                <div class="error-message"></div>
            </div>

        </div>

